@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Abril Fatface";
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.image {
  width: 200px;
  height: 200px;
  transition: transform 0.5s ease; /* Az animáció lassúsága */
}

.image.active {
  transform: scale(1.5); /* Kép nagyítása animációval */
}

@font-face {
  font-family: "Taviraj-Regular";
  src: url("./assets/fonts/Taviraj-Regular.ttf");
}

@font-face {
  font-family: "Kalam-Regular";
  src: url("./assets/fonts/Kalam-Regular.ttf");
}

.leirasfont {
  font-family: "Taviraj-Regular";
}

.kecsufont {
  font-family: "Kalam-Regular";
}
